/* .image-wrapper {
 
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 1.6;
}

.image-wrapper img {
  height: auto;
  max-width: 100%;
} */

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "•";
  color: #0033cc;
  line-height: 0.8;
  font-size: 24px;
  margin-right: 0.5rem;
  margin-top: 3px;
}

/* Default styles */

/* Media queries for different screen sizes */
@media screen and (min-width: 768px) {
  /* Adjust width for tablets */
  /* #hero-image {
    width: 80%;
  } */
}

@media screen and (min-width: 1300px) and (max-width: 1799px) {
  /* Adjust width for small desktops */
  #hero-image {
    max-width: 550px;
    padding: 15px;
  }
  #home-image {
    max-width: 550px;
    padding: 15px;
    margin: auto;
  }
  #hero-section {
    max-width: 1230px;
    margin: auto;
    gap: 120px;
  }
}

@media screen and (min-width: 1800px) {
  /* Adjust width for large desktops */
  #hero-image {
    width: 640px;
    padding: 15px;
  }
  #home-image {
    max-width: 640px;
    padding: 15px;
    margin: auto;
  }
  #hero-section {
    max-width: 1280px;
    margin: auto;
    gap: 160px;
  }
}
