/* .image-wrapper {
 
  display: flex;
  align-items: center;
  text-align: center;
  line-height: 1.6;
}

.image-wrapper img {
  height: auto;
  max-width: 100%;
} */

ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "•";
  color: #0033cc;
  line-height: 0.8;
  font-size: 24px;
  margin-right: 0.5rem;
  margin-top: 3px;
}
